* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;  
    height: 100vh;
}
h2 {
    margin-bottom: 10px;
    font-size: 16px;
}
/* sidebar grid */
.sidebar {
    display: grid;
    grid-template-rows: repeat(12, 1fr) 8fr;
    grid-area: 1 / 1 / -1 / 2;
    background-color: #f0f0f0;
}
.sidebar button {
    background-color: lightblue;
}
/* navbar grid */
.navbar {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    background-color: skyblue;
}
/* main content grid */
.main-content {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-area: 2 / 2 / -1 / -1;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(3, 1fr);
    grid-area: 1 / 1 / -1 / 3;
}